<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    {{>headerlinks}}
</head>
<body>
    {{>header}}
    {{errorcomment}}
    {{>footer}}
</body>
</html>